
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    margin:auto;
}
#navbar a
{
    text-decoration: none;
    color:#225e55;

}

#navbar a.active
{
  color:rgba(146, 19, 19, 0.863);
   font-weight:bold;
}

#navbar a:hover {
    color: #ffd413;
    font-weight:bold;
} 


#nav1
{
      /* background-color:#9e9e9e; */
    border:2px inline #f7f7f7;
    height:55px;
    position: sticky;
    top:0;
}

#navbar
 {  
    float: right;
    text-transform:uppercase;  
    list-style-type: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding-right:15vh;
    padding-top: 7vh;
    font-size:15px;  
   
}

#navbar li{
    display: inline-block;
    margin:auto;
    padding-right:13px;
   /* color:white; */
 }
#navbar a{
    text-decoration: none;
    padding-left: 25px; 
   /* color:#f5f5f5;*/
    font-family: Hind,sans-serif;
    font-weight:600;
}
span
{   padding-top:5vh;  
    float:left;
    width:100px;
    height:auto;
    padding-left:3vh;
    font-size:28px;
    color:#4C441B;
   

}
.main
{
    background-image: url("../img/sun12.jpg");
    
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
#my0 
{    
    height:600px;
    
    /* background-repeat: 100% 100%; */
}

.Name {
    padding-top:33vh;
    font-size: 63px;
    padding-left:11vh;
    color:rgba(83, 55, 11, 0.699);
    font-weight:bold;
}
.div2
{
     font-size:29px;
     padding-left:3vh;
     font-weight:40;
     color:rgba(83, 55, 11, 0.699);
     padding-top:4vh;
}

.ul1 li
{  
     list-style-type: none;
     margin-top:8vh;
     display: inline-block;
     margin-left:9vh;
}
.ul1 a{
    
     padding-left:4vh;
     font-size:22px;
}
hr
{   margin-top: 7vh;
    margin-left:0px;

}

footer p{
    font-family:  Hind,sans-serif;
    background-color: #00AA94;
    color:rgb(255, 255, 255);
    font-size: 14px;
    height:5vh;
    text-align:center;
}